<div class="container">

<div class="row">
  <div class="col-md-4">
    <%= render 'info',{user:current_user} %>

    <%= render 'books/side',{book:@book, user:current_user} %>
  </div>


  <div class="col-md-8">
      <table class="table">
        <h1>Users</h1>
          <thead>
            <tr>
              <th>Image</th>
              <th>name</th>
            </tr>
          </thead>

          <% @users.each do |user| %>
          <tbody>
            <tr>
              <td>
                 <div><%= attachment_image_tag user, :profile_image, :fill, 50, 50, format:'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %></div>
              </td>
              <td>
                <%= user.name %>
              </td>
              <td>
                <%= link_to "show",user_path(user.id), class: "user_#{user.id}" %>
              </td>
            </tr>
          </tbody>
          <% end %>
      </table>

  </div>
</div>
</div>